body,
h1,
h2,
h3,
amenities-content,
h5,
h6 {
  font-family: Hero-Regular, sans-serif;
  font-weight: 400
}

.enquiry button,
.enquiry1 button,
.enquiryMain button {
  width: 280px !important
}

.buttonDiv,
.changeLink:hover,
.checkboxWrapper span:last-of-type,
.checkboxWrapper1 span:last-of-type,
.headerText span:first-of-type,
.otpVerification .boxWrapper p:last-of-type:hover {
  font-weight: 700
}

.innerThankDiv,
.modal {
  bottom: 0;
  left: 0;
  right: 0
}

@font-face {
  font-family: Hero-Regular;
  src: url("../font/Hero-New-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hero-Medium;
  src: url("../font/Hero-New-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: Hero-semiBold;
  src: url("../font/Hero-New-SemiBold.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

* {
  box-sizing: border-box
}

:root {
  --hero-regular: "Hero-Regular", sans-serif;
  --hero-semibold: "Hero-semiBold", sans-serif;
  --hero-medium: "Hero-Medium", sans-serif
}

body {
  margin: 0;
  width: 100%
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both
}

.enquirBbutton:disabled,
.location button:disabled,
.otpBbutton:disabled {
  cursor: not-allowed !important;
  background-color: #919191 !important;
  color: rgba(239, 239, 239, .747)
}

.navImg {
  height: 100px
}

.modalBlur {
  filter: blur(5px);
  pointer-events: none
}

.modalBlurOne {
  filter: blur(4px);
  pointer-events: none
}

.buttonDiv {
  background-color: rgb(17, 69, 36);
  display: none;
  position: fixed;
  top: 100px;
  align-items: center;
  z-index: 20;
  animation-name: callButton;
  animation-duration: 1s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  border-top-left-radius: 324px;
  border-bottom-left-radius: 324px;
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
  width: max-content;
  padding-right: 30px;
  transition: transform 1s ease-out, background-color 1s ease-out, border-radius 1s ease-out
}

@keyframes callButton {
  from {
    right: -50%
  }

  to {
    right: 0
  }
}

.buttonDiv a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center
}

.callIcon {
  width: 58px;
  height: 58px;
  background-color: #186418;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: .3s infinite tilt-shaking
}

.enquiry,
.modalContainer {
  background-image: linear-gradient(180deg, #114524 0%, #2e4135 100%)
}

.modal,
.modalMain {
  border-radius: 36px;
  gap: 20px
}

@keyframes tilt-shaking {

  0%,
  100% {
    transform: rotate(0)
  }

  25% {
    transform: rotate(6deg)
  }

  50% {
    transform: rotate(0eg)
  }

  75% {
    transform: rotate(-6deg)
  }
}

.phoneNo {
  padding-left: 20px;
  transition: display 1s ease-out
}

.modal {
  flex-direction: column;
  height: min-content;
  box-shadow: 7px 7px 7px #00000026
}

.modalHeader {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 30px 40px 20px
}

.modalContainer,
.modalMain {
  display: flex;
  flex-direction: column
}

.innerModalHeader {
  padding-bottom: 12px;
  border-bottom: 1px solid #929496;
  display: flex;
  gap: 20px
}

.modalMain {
  align-items: center;
  justify-content: center;
  padding: 0 70px 40px
}

.closeIcon,
input,
input[type=tel] {
  padding: 20px
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0
}

input[type=number] {
  -moz-appearance: textfield
}

.modalMain Input:not(Input[type=checkbox]):not(.otpInput),
button:not(.location button) {
  border: none;
  width: 100%;
  border-radius: 40px;
  height: 40px
}

.readMore {
  text-align: left;
  display: inline
}

#displayMore,
#displayMoreThree,
#displayMoreTwo,
#error,
#readLess2,
.loading,
.modal {
  display: none
}

.readMoreScroll {
  height: 40px;
  overflow-y: scroll
}

#readLess,
button {
  cursor: pointer
}

#readLess1,
#readLessButton {
  display: none;
  cursor: pointer
}

#readLess2 {
  color: #fff
}

.location button,
.modalMain button,
.otpVerification button {
  background-color: #69963f;
  color: #fff
}

.closeIcon {
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer
}

.modal {
  position: fixed;
  vertical-align: middle;
  z-index: 999;
  top: 0;
  margin: auto;
  width: 450px
}

.enquiry,
.modalMain {
  display: flex;
  flex-direction: column
}

.modalMain {
  align-items: center
}

.modalMain .boxWrapper,
.modalMain .iti {
  width: 100% !important
}

.iti--separate-dial-code .iti__selected-flag {
  background-color: unset !important;
  border-right: 1px solid rgba(0, 0, 0, .05)
}

.modalMain .iti__country-list {
  width: 300px !important
}

.modalMain .boxWrapper .checkboxWrapper {
  color: #000
}

.modalMain .section5Header {
  padding-top: 0 !important;
  font-size: 20px !important
}

.modalMain .section5Header Img {
  height: 20px !important;
  padding-top: 2px !important
}

.enquiry {
  width: 100%;
  gap: 40px 80px;
  padding: 40px 40px 60px
}

.boxWrapper,
.enquiryMain {
  display: flex;
  flex-direction: column
}

.enquiryMain {
  width: 100%;
  gap: 26px;
  align-items: center
}

.enquiryMain button {
  background-color: #69963f;
  color: #fff;
  align-self: center
}

.enquirySubMain {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap
}

.enquirySubMain .iti,
input:not(.otpInput) {
  width: 280px;
  border-radius: 36px;
  height: 40px;
  border: none
}

.checkboxWrapper {
  display: flex;
  gap: 5px;
  color: #fff;
  align-items: flex-start
}

input[type=checkbox] {
  border-radius: 0 !important;
  cursor: pointer;
  accent-color: #69963f;
  height: 14px !important;
  width: 14px !important;
  outline: 0 !important;
  border: 1px solid #69963f;
  font-size: 10px;
  transform: scale(1.3);
  margin-top: 2px
}

.checkboxWrapper p,
.checkboxWrapper span {
  font-size: 12px;
  color: #fff
}

.checkboxWrapper p {
  margin: 0
}

.smallFont {
  font-size: 12px !important;
  cursor: pointer;
}

.section5Header {
  display: flex;
  font-size: 30px;
  margin: auto;
  padding-top: 80px !important
}

.section5Header .headerText {
  padding-left: 4px;
  color: #fff;
  font-size: 26px !important;
  font-family: Arial !important
}

.enquiry .section5Header,
.otpVerification .section5Header {
  padding-top: 0 !important
}

.headerText,
.sectionHeader {
  margin: 0
}

.boxWrapper {
  gap: 20px;
  align-items: center;
  width: 60%
}

.locationSection,
.otpVerification {
  padding: 40px;
  flex-direction: column
}

.otpVerification {
  display: none;
  align-items: center;
  gap: 36px
}

.otpVerification.myOtpVerification {
  gap: 30px;
  padding: 0 40px
}

.otpVerification .boxWrapper {
  width: unset;
  gap: 10px
}

.location p,
.otpVerification .boxWrapper p {
  margin: 0;
  color: #fff
}

.enquiry1 .location p,
.otpVerification .boxWrapper.myBoxWrapper p {
  color: #303538
}

.otpVerification .boxWrapper p:last-of-type {
  text-decoration: underline;
  font-weight: 500;
  cursor: pointer
}

.inutContainer {
  display: flex;
  gap: 20px;
  justify-content: center
}

.otpInput {
  background-color: #fff;
  color: #000;
  border: 1px solid #00000029;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  text-align: center
}

.changeLink {
  color: #29a2c7;
  text-decoration: underline;
  cursor: pointer
}

.locationSection {
  display: flex;
  gap: 20px;
  width: 100%;
  align-items: center
}

.enquiry .locationSection,
.enquiry .otpVerification {
  padding: 0
}

.enquiry1 .locationSection {
  padding: 0 40px
}

.location {
  display: none;
  flex-direction: column;
  align-items: center
}

.location .ThankYou {
  font-size: 24px
}

#timer {
  display: none;
  padding-left: 4px
}

.headerModal {
  display: flex;
  justify-content: center;
  align-items: center
}

.location .consentText {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 16px
}

.location button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border: none;
  width: 100%;
  border-radius: 10px;
  height: 40px;
  animation-duration: 3s;
  animation-name: expand;
  animation-iteration-count: infinite
}

.enquiry1,
.enquiryMain1 {
  flex-direction: column;
  width: 100%
}

@keyframes expand {

  0%,
  100% {
    transform: scale(1)
  }

  50% {
    transform: scale(.8)
  }
}

.location button img {
  width: 20px
}

.numberText,
.numberText1 {
  color: #fff
}

.getCall {
  margin-top: 0;
  padding-left: 0;
  margin-bottom: 28px
}

.enquiry1 {
  margin-top: 100px;
  display: flex;
  gap: 30px;
  padding: 0 5%
}

.boxWrapper1,
.enquiryMain1,
.enquirySubMain1,
.enquirySubSubMain1 {
  gap: 20px;
  display: flex
}

.sectionHeader .headerText {
  font-size: 32px;
  padding-left: 36px
}

.enquiryMain1 {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

.enquiryMain1 button {
  background-color: #69963f;
  color: #fff;
  width: 280px !important
}

.enquiryMain1 input:not([type=checkbox]) {
  border: 1px solid #bcbcbc;
  border-radius: 36px;
  width: 280px;
  height: 40px
}

.enquiryMain1 input[type=checkbox] {
  margin-top: 6px
}

.enquirySubMain1 {
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-width: 880px
}

.enquirySubMain1 .iti,
input {
  width: 280px;
  border-radius: 36px;
  height: 40px
}

.enquirySubSubMain1 {
  width: 100%;
  justify-content: start;
  flex-wrap: wrap
}

.boxWrapper1 {
  flex-direction: column;
  align-items: center;
  width: 100%
}

.checkboxWrapper1 {
  display: flex;
  gap: 5px;
  align-items: flex-start
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 40px;
  background-color: #919191;
  width: 100%;
  text-align: left;
  color: #fff;
  font-size: 12px
}

.center-line:before,
.color-heading::before,
.colored-text::before,
.grey-text-wrap:after,
.heading-text-row::before,
.left-plus::after {
  background: url(../images/plus-icon-colored.svg) center center no-repeat !important
}

@media (max-width:980px) {
  .sectionHeader .headerText {
    text-align: center
  }

  .enquirySubSubMain1 {
    justify-content: center
  }

  .boxWrapper1 {
    align-items: center
  }
}

@media (max-width:768px) {

  .buttonDiv .phoneNo,
  .modal {
    display: none
  }

  .newImg {
    width: 200px !important
  }

  .boxWrapper,
  .enquiryMain button,
  .enquiryMain1 button,
  .enquirySubMain .iti,
  .enquirySubMain1 .iti,
  input {
    width: 100% !important
  }

  .footer {
    flex-direction: column;
    gap: 6px;
    padding-left: 20px;
    font-size: 10px
  }

  .enquiry,
  .enquiry1,
  .enquiryMain {
    gap: 30px !important
  }

  .footer p {
    margin: 0
  }

  .section5Header {
    font-size: 20px !important;
    margin: unset !important
  }

  .section5Header Img {
    height: 22px !important;
    padding-top: 4px !important
  }

  .enquiry {
    padding: 30px 30px 46px !important;
    align-items: center
  }

  .boxWrapper {
    padding: 0;
    font-size: 14px
  }

  .enquiry1 {
    padding: 0 30px !important;
    align-items: center
  }

  .my-detailed-plan-inner,
  .sectionHeader .headerText {
    padding: 5px
  }

  .callIcon {
    width: 44px;
    height: 44px
  }

  .buttonDiv {
    top: 40px;
    background-color: transparent
  }

  .modal {
    position: fixed;
    vertical-align: middle;
    z-index: 999;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    width: 95% !important;
    right: 0;
    border-radius: 50px !important
  }

  .modalHeader {
    padding: 48px 20px 16px
  }

  .modalMain {
    padding: 0 20px 40px
  }

  input[type=checkbox] {
    transform: scale(1) !important;
    padding-bottom: 4px !important
  }

  .my-detailed-plan-right {
    padding-right: 20px
  }
}

.innerThankDiv,
.mainInner,
.mainInnerDiv {
  width: 100%;
  display: flex
}

.innerThankDiv {
  position: absolute;
  align-self: center;
  justify-self: center;
  top: 0;
  margin: auto
}

.mainInnerDiv {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px
}

.mainInner {
  gap: 20px;
  justify-content: center;
  align-items: center
}

.mainInner img {
  height: auto;
  height: fit-content
}

.thankyou {
  display: flex;
  align-items: center
}

.thankyou p {
  margin: 10px;
  font-size: 28px
}

.contact {
  font-size: 20px
}

#propertyNameId {
  border-left: 1px solid #034867;
  padding-left: 20px;
  display: flex;
  align-items: center
}

#propertyNameId p {
  color: #fff;
  font-size: 20px;
  margin: 0
}

.project-banner {
  background-image: linear-gradient(rgba(0, 0, 0, .2),
      rgba(0, 0, 0, .2)), url('../images/backgroundImage.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.book_now {
  cursor: pointer;
  width: 150px;
  padding: 10px 30px;
  background-color: #69963f;
  color: #ffffff;
  border-radius: 324px;
  font-size: 16px;
  font-weight: 600;
}

.bottom-code {
  bottom: -40px;
}

.bottom-code p {
  font-size: 12px !important;
}

.grey-text-wrap h4 {
  color: #757575;
}

/* .facilities-text {
  flex-wrap: wrap;
  justify-content: space-between;
} */

.amenities-container .row {
  flex-wrap: nowrap;
}

.image-content-layout5,
.image-content-layout4 {
  margin-top: 20px;
}

@media (max-width: 767px) {
  .project-banner {
    background-image: linear-gradient(rgba(0, 0, 0, .2),
        rgba(0, 0, 0, .2)), url('../images/backgroundImageMobile.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .heading-content-repeat {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .image-content-layout5,
  .image-content-layout4 {
    margin-top: 20px;
  }

  .download-brochure {
    margin-top: 20px;
  }
}

.carousel-control-prev,
.carousel-control-next {
  z-index: 1;
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.newStyle {
  position: absolute;
  right: 0;
  bottom: 0;
  top: 0;
  margin: 30px;
}

.headerMainText {
  z-index: 2;
}

#iframe-location {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
  width: 100%;
  position: relative;
}

.iframe-container {
  width: 60%;
  height: 100%;
}

@media (max-width: 767px) {
  #iframe-location {
    margin-bottom: 40px;
    margin-top: 20px;
  }

  .iframe-container {
    width: 80%;
    height: 100%;
  }
}

.enquiryMain1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: start;
  justify-content: center;
  flex-wrap: wrap;
}

.boxWrapper1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  width: 100%;
}

@media (max-width: 1280px) {
  .boxWrapper1 {
    align-items: center;
  }
}

/* CSS for modal overlay when opened */
.modal.show {
  display: block;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
}

/* CSS for body when modal is open */
.modal-open {
  overflow: hidden;
}

.modal-dialog {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  position: relative;
}

.modal-body {
  width: 100%;
  height: 100%;
  padding: 0px;
}

.modal.fade {
  width: 80%;
  height: 90%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.3);
  border-radius: unset !important;
}

.close {
  width: unset !important;
  height: unset !important;
  position: absolute;
  z-index: 3;
  right: 10px;
  top: 5px;
  pointer-events: all;
  background-color: inherit;
}

#modalImage {
  width: 100%;
  height: 100%;
}

.carousel-item img {
  pointer-events: none;
}

#banner {
  padding: 100px;
}

.amenities-main-heading {
  font-size: 32px;
}

@media (max-width: 767px) {
  .modal.fade {
    width: fit-content;
    height: fit-content;
  }

  .white-banner h5 {
    margin-bottom: 20px;
  }

  .carousel-item img {
    pointer-events: all;
  }

  #banner {
    padding: 0px;
  }

  .download-brochure .container {
    padding-left: 40px;
  }

  .amenities-container {
    padding-left: 30px;
  }
}